.about-photo {
    height: 350px;
    width: 265px;
    filter: grayscale(100%);
    position: absolute;
    right: 10%;
    bottom: 8%;
    z-index: 2;

    &:hover {
        filter: none;
    }
}

.photo-bg {
    display: inline-block;
    height: 350px;
    width: 265px;
    background-image: $photoGradient;
    position: absolute;
    top: 8rem;
    left: 15%;
}

.about-content {
    display: inline-block;
    position: absolute;
    left: 44%;
    top: 8rem;
    height: 350px;
    width: 48%;
}

.about-heading {
    margin: 1.5rem 0;
}

.about-bio {
    font-size: 14px;
    position: absolute;
}
