.about-photo {
    height: 330px;
    width: 265px;
    filter: grayscale(100%);
    position: absolute;
    right: 10%;
    bottom: 8%;
    z-index: 2;

    &:hover {
        filter: none;
    }
}

.photo-bg {
    display: inline-block;
    height: 330px;
    width: 265px;
    background-image: $photoGradient;
    position: relative;
    top: 3rem;
    left: 12%;
}

.about-content {
    display: inline-block;
    position: relative;
    bottom: 45%;
    left: 240px;
    height: 67%;
    width: 45%;
}

.about-heading {
    margin: 1.5rem 0;
}

.about-bio {
    position: absolute;
}
