@import './variables';

a {
    color: $darkBlack;

    &:hover {
        color: $blue;
    }
}


.fab { // These are the social media icons.
    color: $darkBlack;

    &:hover {
        color: $blue;
    }
}

.fas { // This is the file icon.
    color: $blue;

    &:hover {
        color: $blue;
    }
}

/*********** Landing page section. *************/

.name {
    color: $darkBlack;
    text-shadow: 2px 2px $blue;
}

.title {
    color: $blue;
}

#line {
    background-color: $darkBlack;
}

/**********************************************/

.feature-box {
   // border: 2px solid $darkBlack;
   // box-shadow: -4px -4px $blue, 4px 4px $orange;
    padding: 0 15px 15px;
}