@import './variables';

.contact-content {
    margin: 0 auto;
    text-align: center;
    width: 47%;
    
}

.contact-heading {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.contact-brief {
    padding: 1rem 0;
}

.contact-btn {
    border: 2px solid $darkBlack;
    border-radius: 4px;
    color: $darkBlack;
    font-weight: 700;
    padding: 12px 14px;
    text-decoration: none;

    &:hover {
        background-color: $green;
        border: 1px solid $green;
        border-radius: 4px;
        color: #fff;
        font-weight: 700;
        padding: 12px 14px;
        text-decoration: none;
    }
}

.contact-btn-div {
    margin: 0 auto;
    padding: 3rem;
}

.circles-container {
	height: 197px;
    position: relative;
}

.circle2 {
    border: 3px dotted $blue;
    border-radius: 50%;
    border-style: double;
    height: 217px;
    width: 217px;
	position: relative;
    z-index: 2;
    left: 100%;
}

.circle3 {
    border: 3px dotted $red;
    border-radius: 50%;
    border-style: double;
    height: 137px;
    width: 137px;
	position: absolute;
	left: 120%;
	top: -60px;
}

.circle4 {
    background-image: $circle4Gradient;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: relative;
    top: -300%;
    right: 47%;
}
