.feature-box {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
    width: 30%;
}

.project-2 {
    top: 150px;
}

.project-3 {
    top: 300px;
}

.projects-header {
    margin: 1.2rem 1rem 1.4rem;
}

.project-heading {
    margin: 1rem 0;
}

.project-name {
    display: inline-block;
    margin: 10px 10px 10px 0;
}

.project-description {
    font-size: 15px;
}
