$black: #333;
$darkBlack: rgb(41, 41, 41);
$redPink: rgba(252,70,107,1);
$orange: #ff750d;

$darkBlue: #1029ff;
$blue: #3da4ff;
$lightBlue: #c5edff;


$photoGradient: linear-gradient(312deg, rgba(16,41,255,1) 0%, rgba(69,88,255,1) 17%, rgba(61,164,255,1) 31%, rgba(197,237,255,1) 47%, rgba(226,250,255,1) 51%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 71%);

//$photoGradient: linear-gradient(335deg, rgba(252,70,107,1) 23%, rgba(254,188,201,1) 55%, rgba(254,188,201,0.8364492037049195) 79%, rgba(255,255,255,0.9092783353575805) 100%);

$circleGradient: linear-gradient(130deg, rgba(16,41,255,1) 0%, rgba(69,88,255,1) 17%, rgba(61,164,255,1) 31%, rgba(197,237,255,1) 47%, rgba(226,250,255,1) 51%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 71%);
