$black: #333;
$darkBlack: rgb(41, 41, 41);
$red: #f23557;
$orange: #F18049;
$yellow: #f0d43a;
$green: #afc96c;
$blue: #22b2da;
$darkBlue: #3b4a6b;


$photoGradient: linear-gradient(138deg, rgba(255,255,255,1) 20%, rgba(34,178,218,1) 71%);

$circleGradient: linear-gradient(135deg, rgba(242,53,87,1) 16%, rgba(241,137,72,1) 33%, rgba(240,212,58,1) 45%, rgba(249,239,182,1) 54%, rgba(255,255,255,1) 65%);

$circle4Gradient: linear-gradient(61deg, rgba(34,178,218,1) 14%, rgba(175,201,108,1) 48%, rgba(240,212,58,1) 69%);
