@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.circle {
  background: linear-gradient(135deg, #f23557 16%, #f18948 33%, #f0d43a 45%, #f9efb6 54%, white 65%);
  border-radius: 50%;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 40%;
}

.name {
  font-family: 'Abril Fatface', cursive;
  font-size: 5.3rem;
  position: absolute;
  text-align: center;
}

.first {
  top: 38%;
  left: 47%;
}

.last {
  top: 55%;
  left: 58%;
}

.title {
  font-family: 'Poppins';
  font-size: 1.4rem;
  position: absolute;
  top: 77%;
  left: 55%;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: fixed;
  bottom: 0;
  left: 2%;
}

.medium {
  padding-bottom: 1rem;
}

#line {
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px 46%;
}

.sm-icon {
  margin: 10px;
}

.about-photo {
  height: 330px;
  width: 265px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  position: absolute;
  right: 10%;
  bottom: 8%;
  z-index: 2;
}

.about-photo:hover {
  -webkit-filter: none;
          filter: none;
}

.photo-bg {
  display: inline-block;
  height: 330px;
  width: 265px;
  background-image: linear-gradient(138deg, white 20%, #22b2da 71%);
  position: relative;
  top: 3rem;
  left: 12%;
}

.about-content {
  display: inline-block;
  position: relative;
  bottom: 45%;
  left: 240px;
  height: 67%;
  width: 45%;
}

.about-heading {
  margin: 1.5rem 0;
}

.about-bio {
  position: absolute;
}

.feature-box {
  display: inline-block;
  margin: 0 1rem;
  position: relative;
  width: 30%;
}

.project-2 {
  top: 150px;
}

.project-3 {
  top: 300px;
}

.projects-header {
  margin: 1rem 0;
}

.project-heading {
  margin: 1rem 0;
}

.project-name {
  display: inline-block;
  margin: 10px 10px 10px 0;
}

.contact-content {
  margin: 0 auto;
  text-align: center;
  width: 47%;
}

.contact-heading {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.contact-brief {
  padding: 1rem 0;
}

.contact-btn {
  border: 2px solid #292929;
  border-radius: 4px;
  color: #292929;
  font-weight: 700;
  padding: 12px 14px;
  text-decoration: none;
}

.contact-btn:hover {
  background-color: #afc96c;
  border: 1px solid #afc96c;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  padding: 12px 14px;
  text-decoration: none;
}

.contact-btn-div {
  margin: 0 auto;
  padding: 3rem;
}

.circles-container {
  height: 197px;
  position: relative;
}

.circle2 {
  border: 3px dotted #22b2da;
  border-radius: 50%;
  border-style: double;
  height: 217px;
  width: 217px;
  position: relative;
  z-index: 2;
  left: 100%;
}

.circle3 {
  border: 3px dotted #f23557;
  border-radius: 50%;
  border-style: double;
  height: 137px;
  width: 137px;
  position: absolute;
  left: 120%;
  top: -60px;
}

.circle4 {
  background-image: linear-gradient(61deg, #22b2da 14%, #afc96c 48%, #f0d43a 69%);
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: relative;
  top: -300%;
  right: 45%;
}

a {
  color: #292929;
}

a:hover {
  color: #22b2da;
}

.fab {
  color: #292929;
}

.fab:hover {
  color: #22b2da;
}

.fas {
  color: #f23557;
}

.fas:hover {
  color: #22b2da;
}

/*********** Landing page section. *************/
.name {
  color: #292929;
  text-shadow: 2px 2px #22b2da;
}

.title {
  color: #22b2da;
}

#line {
  background-color: #292929;
}

/**********************************************/
.about-bio,
.project-description,
.project-name,
.contact-brief {
  color: #3b4a6b;
}

.project-1 {
  border: 2px solid #22b2da;
  padding: 0 15px 15px;
}

.project-2 {
  border: 2px solid #afc96c;
  padding: 0 15px 15px;
}

.project-3 {
  border: 2px solid #f0d43a;
  padding: 0 15px 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

/**************** Page section sizing *******************/
#landing .container {
  margin: 2rem 4rem;
  padding: 5rem 0;
}

#about .container {
  height: 560px;
  margin: 5rem 4rem;
  padding: 5rem 3rem;
}

#projects .container {
  height: 780px;
  margin: 5rem 4rem;
  padding: 5rem 3rem;
}

#contact .container {
  height: 586px;
  margin: 7rem 4rem;
  padding: 4rem 3rem;
}

/*********************************************************/
/**************** Navigation Bar Styling *****************/
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem 1.5rem;
}

.navbar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.logo {
  padding: 2px 1.5rem 0;
}

.nav-links {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

/*********************************************************/
/*# sourceMappingURL=index.css.map */