// Google Fonts for the first name, last name, body, and job title.
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import './variables';
@import './landing';
@import './about';
@import './projects';
@import './contact';
@import './color-control';


* {
    box-sizing: border-box;
    color: $black;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/new-bg.jpg");
    background-size: contain;
    position: relative;
    z-index: -3;
}

/**************** Page section sizing *******************/

#landing .container {
    margin: 2rem 4rem;
    padding: 5rem 0;
}

#about .container {
    height: 650px;
    margin: 5rem 4rem;
    padding: 5rem 3rem;
    position: relative;
}

#projects .container {
    height: 820px;
    margin: 4rem;
    padding: 4rem 3rem;
}

#contact .container {
    height: 685px;
    margin: 5rem 4rem;
    padding: 4rem 3rem;
}

/*********************************************************/


/**************** Navigation Bar Styling *****************/

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 1.5rem;
}

.navbar span {
    display: flex;
    flex: auto;
}

.logo {
    padding: 2px 1.5rem 0;
}

.nav-links {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

/*********************************************************/
